.shop-address {
    border: 1px solid black;
    max-width: 75%;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3d070a;
    color: white;
    padding: 1em;
    margin-top: 1em;


}

#shop-top {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 4em;
}

#gallery {
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
}

#list-div {
    padding-bottom: 25%;
    padding-top: 5%;
}

#about-list li {
    list-style-type: square;
    text-align: left;
    font-size: large;
    line-height: 3em;
    
    
}
#shop-title {
    font-family: 'Ruthie', cursive;
    font-size: 5em;
    font-weight: 600;
    text-align: center;
}

#shop-container {
    margin: 0 auto;
    padding-top: 2%;
    background-size: overflow;
    background-color: #e9e25e;
    background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");

}

@media screen and (min-width: 520px) {

.shop-address {
    max-width: 40%;
    padding: 2em


}
#shop-top {
    display: flex;
    flex-direction: row;

}


#img-slider{
    padding: .5em;
}



}