.Header {
    display: grid;
    grid-template-areas: "logo nav";
}

.Header a {
    color:  #e9e25e;
    text-decoration: none;


}
.burger-button {
    max-width: 5%;
}

.logo {
    display: none;
}

.Nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;

}



.Burger {
    display: none;
    background-color: #3d070a;
    color: #e9e25e;
}

.NavAnimation-enter {
    opacity: 1;
    transform: scale(0.5);
}
.NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
}
.NavAnimation-exit {
    opacity: 1;
}
.NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
}


@media (max-width: 700px){
    .Header {
        grid-template-areas: "logo burger" "nav nav";
    }
    .Nav {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
    }
    .Burger {
        display: block;
    }
}

@media only screen and (min-width: 700px) {
    .Logo {
      display: block;
    }

    .Nav {
        display: flex;
    }
    .Nav a {
        padding: 2%;
    }
    .Nav a:hover {
        transform: scale(1.2);
      }
  }

